<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Wcf_BasicHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:22935/3FA85F64-5717-4562-B3FC-2C963F66AFA6/mayank_dev/"
                binding="basicHttpBinding" bindingConfiguration="Wcf_BasicHttpBinding"
                contract="WcfServiceClient.IService1" name="Wcf_BasicHttpBinding" />-->
			<endpoint address="http://localhost:12128/WcfApi"
                binding="basicHttpBinding" bindingConfiguration="Wcf_BasicHttpBinding"
                contract="WcfServiceClient.IService1" name="Wcf_BasicHttpBinding" />
			<!--<endpoint address="http://localhost/WcfServiceTest/Service1.svc"
                binding="basicHttpBinding" 
                name="Api_BasicHttpBinding" />-->
        </client>
    </system.serviceModel>
</configuration>